@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #181818;
}

header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

    .barra_busqueda{
        display: flex;
        align-items: center;
    }
        .busqueda{
            padding: 5px 10px;
            outline: none;
            font-family: 'Poppins';
            font-weight: 400;
            width: 16rem; /* 1rem = 16px */
            border: 2px solid #373737;
            border-right: none;
            border-radius: 7px 0 0 7px;
            background-color: #181818;
            color: #A3A3A3;
        }

        .btn{
            background-color: #373737;
            border: none;
            padding: 3.4px;
            width: 4rem;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

main {
    width: 95%;
    margin: 30px auto 0 auto;
}
    .contFiltros{
        display: flex;
        gap: 25px;
    }
    .btnFiltros{
        padding: 7px 10px;
        border-radius: 18px;
        border: 1px solid #6F6F6F;
        background-color: #373737;
        color: #FFF;
        font-family: 'Poppins';
        cursor: pointer;
    }

    .active{
        background-color: #FFF;
        color: #181818;
    }

.contVideos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .contVideo {
        width: 300px;
        font-family: 'Poppins';
        font-weight: 700;
        color: #FFF;
        margin-top: 40px;
        cursor: pointer;
    }
        .imgPortada{
            width: 300px;
            height: 170px;
        }
        .textMinutos{
            position: absolute;
            background-color: #181818;
            font-size: 14px;
            padding: 2px 5px;
            left: 280px;
            bottom: 57vh;
            font-family: 'Poppins';
            font-weight: 400;
        }
        .contInfo{
            display: flex;
            align-items: flex-start;
            gap: 7px;
        }
            .avatar{
                width: 40px;
            }
            .contDescripcion{
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
                .titleVideo{
                    font-size: 16px;
                    word-wrap: break-word;
                }
                .titleAutor, .views {
                    color: #A3A3A3;
                    font-weight: 400;
                    word-wrap: break-word;
                }